@use './partials/variables' as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html{
    scroll-behavior: smooth;
    ::-webkit-scrollbar {
        display: none;
    }

}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

// login
#nav_login {
    background-color: hsla(0, 0%, 100%, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid white;
    height: 100px;
    a {
        color: rgb(0, 0, 0);
    }
}
.logo_cortese {
    img {
        width: 125px;
        
    }
}
#home {
    background-color: hsla(0, 0%, 100%, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 20px;
}
#uploadPreview {
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    object-fit: cover;
}
#nav-icon{
    font-size: 1.5rem;
}
.form-login {
    .card-body {
        #form-login .form-check-input[type="checkbox"]:checked,
        #form-login .form-check-input[type="checkbox"]:not(:checked) {
            border: 1px solid $mr-color-contrast !important;
            background: $mr-color-contrast !important;
            box-shadow: inset 0 1px 3px rgba($mr-color-contrast, .1) !important;
        }
        #form-login .form-check-input[type="checkbox"]:checked::after,
        #form-login .form-check-input[type="checkbox"]:not(:checked)::after {
            background: $mr-color-contrast !important;
        }
    }
}
#login-form,#ls-register-form {
    background-color: hsla(0, 0%, 100%, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 16px 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 15px;

}
#login-title, #register-title {
    background: linear-gradient(45deg, rgb(48, 48, 48), hsla(176, 11%, 25%, 0.911), rgb(48, 48, 48)) !important;
    border-radius: 15px 15px  0px 0px;
    color: rgb(0, 0, 0);
}
#analytics-title, #contability-title, #views-title, #messages-title, #apartments-title {
    background: linear-gradient(45deg, rgb(48, 48, 48), hsla(176, 11%, 25%, 0.911), rgb(48, 48, 48)) !important;
    color: white;
    border-radius: 5px 5px 0px 0px ;
    border-bottom: 1px solid black;
}
// buttons and various


.form-control:focus {
    border-color: $mr-text-dark;
    box-shadow: 0 0 0 0.2rem rgba($mr-text-dark, .25);
}

.card-header {
    background: linear-gradient(45deg, rgb(48, 48, 48), hsla(176, 11%, 25%, 0.911), rgb(48, 48, 48)) !important;
    color: white;
}

.modal-header {
    background: linear-gradient(45deg, rgb(48, 48, 48), hsla(176, 11%, 25%, 0.911), rgb(48, 48, 48)) !important;
    color: white;
}
.offcanvas {
    font-size: 1.5rem;
    background: linear-gradient(45deg, rgb(48, 48, 48), hsla(176, 11%, 25%, 0.911), rgb(48, 48, 48)) !important;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    #offcanvasDarkNavbarLabel {
        color: white;
        font-size: 2rem;
    }
}

 //questo cambia il colore della nav dell'header quando si è loggati
.bg-dark {
    background: linear-gradient(45deg, rgb(48, 48, 48), hsla(176, 11%, 25%, 0.911), rgb(48, 48, 48)) !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
// main
main {
    // background-color: $mr-text-light;
    margin-top: 130px;
    height: 90vh;
    #dashboard {
        .card-header {
            background-color: $mr-text-dark;
            color: white;
        }
    }
}
//show-apartments
.img-show {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}
// table
#mr-table {
    border: 1px solid #000000;
    border-radius: 10px;
    overflow: hidden;
    
    .table-icon {
        font-size: 2rem;
        text-decoration: none;
    }
    button.no-border {
        border: none!important;
    }
    .img-icon {
        width: 60px;
        img {
            width: 100%;
        }
    }
    
}
table tr {
    background: linear-gradient(45deg, rgb(48, 48, 48), hsla(176, 11%, 25%, 0.911), rgb(48, 48, 48)) !important;
}
table th {
    background: transparent !important;
    color: white;
    border-bottom: 1px solid black;
}
#td-image-cover {
    width: 15% !important;
    object-fit: cover;
}
// pagination
.pagination .page-link {
    background-color: #4A5655;
    color: white; 
}
.pagination .page-item.active .page-link {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    border-color: rgb(255, 252, 51); 
}
.pagination .page-link:active {
    background-color: #4A5655;
    color: white; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    border-color: rgb(255, 252, 51); 
}
//form 
.address {
    display: flex;
    justify-content: space-between;
}
.logo-container {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    
    i {
        background: linear-gradient(#fbdb4f,#FA8A42 );
        -webkit-background-clip: text;
        color: transparent;
    }
}
.bubbles {
    position:relative;
    border-radius:100%;
    width: 40px;
    aspect-ratio: 1;
    background: linear-gradient(#29C1E6, #109FBF);
    animation: bubbles-rotation 5s linear infinite;

    div,div::before,div::after{
        position: absolute;
        width: 12px;
        left: -12px;
        top: 2px ;
        aspect-ratio: 1;
        border-radius: 100%;
        background-color: #fbdb4f;
    }

    div::before {
        content: '';
        display: block;
        width: 16px;
        left: -6px;
        top: 23px;
        background-color: #FA8A42;
    }

    div::after {
        content: '';
        display: block;
        width: 7px;
        left: 19px;
        top: -11px;
        background-color: #fbec10;
    }
    @keyframes bubbles-rotation  {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(-360deg);
        }
    }
}

// ls-styles //
#ls-icons { // questa classe serve per le icone dei badge dei servizi
    width: 30px;
    height: 30px;
    padding: 2px;
}

#ls-badge {
    background-color: #4A5655;
    margin-top: 5px;
    margin-right: 5px;
    flex-wrap: wrap;
}

#ls-badges-container {
    max-width: 500px;
}

#ls-edit {
    border: 1px solid black;
    padding: 18px;
    border-radius: 15px;
}

.ls-glass {
    background-color: hsla(0, 0%, 100%, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2),
                -5px -5px 10px rgba(0, 0, 0, 0.1);
    
}
// .ls-border {
//     border: 1px solid #29C1E6;
// }

#info-left {
    min-width: 475px;
    margin-right: 25px;
}

#info-right {
    width: 650px;
    height: 700px;
    overflow-wrap: break-word;
}

#admin-name {
    font-weight: bold;
    text-decoration: underline;
    display: block;
    font-size: 2.5rem;
}

li {
    list-style-type: none;
}


#edit-border {
    border: 1px solid black;
    padding: 10px;
}

.img_edit, .serv, .address{
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 20px;
    margin: 10px auto;
}

.serv{
    overflow-x: auto; 
    max-height: 455px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.mine-custom-btn{
    background-color: #FA8A42;
}

//barra di ricerca indirizzo create e edit
.results-container {
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    display: none; /* Nascondi per impostazione predefinita */
}

.results-container div {
    padding: 10px;
    cursor: pointer;
}

.results-container div:hover {
    background-color: #f0f0f0;
}


// nuovi bottoni
.draw-border {
    //box-shadow: inset 0 0 0 4px #000000;
    color: #000000;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}

.draw-border::before,
.draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    border-radius: 3px;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}

.draw-border:hover {
    color: #000000;
    background-color: transparent;
}

.draw-border:hover::before,
.draw-border:hover::after {
    border-color: #4A5655;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    padding: 0.5em 0.9em;
    letter-spacing: 0.05rem;
}



// nuovi bottoni
.draw-border-2 {
    //box-shadow: inset 0 0 0 4px #000000;
    color: #000000;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}

.draw-border-2::before,
.draw-border-2::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    border-radius: 6px;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border-2::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.draw-border-2::after {
    border-top-width: 4px;
    border-right-width: 4px;
}

.draw-border-2:hover {
    color: #000000;
    background-color: rgb(209,231,221);
}

.draw-border-2:hover::before,
.draw-border-2:hover::after {
    border-color: #4A5655;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-border-2:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}

.draw-border-2:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

.btn-2 {
    background: rgb(209,231,221);
    border: none;
    border-radius: 13px;
    cursor: pointer;
    line-height: 1.5;
    padding: 0.5em 0.9em;
    letter-spacing: 0.05rem;
    text-decoration: none;
    box-shadow: 6px 7px 4px rgba(0, 0, 0, 0.2),

}

.btn-3 {
    background: #ffffbf;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    padding: 0.5em 0.9em;
    letter-spacing: 0.05rem;
    text-decoration: none;
}

// nuovi bottoni
.draw-border-3 {
    //box-shadow: inset 0 0 0 4px #000000;
    color: #000000;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}

.draw-border-3::before,
.draw-border-3::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    border-radius: 6px;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border-3::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.draw-border-3::after {
    border-top-width: 4px;
    border-right-width: 4px;
}

.draw-border-3:hover {
    color: #32a9e0;
    background-color: #ffffbf;
    i {
        
    }
}


.draw-border-3:hover::before,
.draw-border-3:hover::after {
    border-color: #32a9e0;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-border-3:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}

.draw-border-3:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

/* Nascondi il logo piccolo di default */
.logo-small {
    display: none;
}

/* Mostra il logo grande di default */
.logo-large {
    display: block;
    width: 180px;
    
}

/* Quando lo schermo è più piccolo di 768px, mostra il logo piccolo e nascondi il logo grande */
@media (max-width: 768px) {
    .logo-large {
        display: none;
    }
    .logo-small {
        display: block;
        width: 160px;
        
    }
}
.logo-filter {
    filter: brightness(0) invert(1); /* Per rendere il logo bianco */
  
}
