$mr-text-light: rgb(149, 142, 145);
$mr-text-dark: #109FBF;
$mr-bg-light: rgb(93, 84, 97);
$mr-bg-dark: rgb(73, 68, 67);
$mr-color-contrast: #FA8A42;

$btn-dark-bg: #343a40;
$btn-dark-border: #343a40;
$btn-dark-color: white;

$mr-primary-color: #109FBF;
$secondary-color: #29C1E6;
$tertiary-color: #FBBF4F;
$quaternary-color: #FA8A42;
$quinary-color: #F8F9FE;